<!DOCTYPE HTML>
<html>

<head>
    <title>Blob-FileServer</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        tr {
            margin: 0.5em;
            width: 100%;
            height: 10px;
        }

        progress {
            text-align: center;
        }

        progress:after {
            content: attr(value) '%';
        }
    </style>
</head>

<body>
    <table style="width: 100%;">
        <% files.forEach(function(file) { %>
        <tr>
            <th>
                <%- file %>
            </th>
            <th><progress id="<%- file %>-P" value="0" max="100"></progress> </th>
            <th><a data-file="<%- file %>" href="javascript:void(0);" onclick="dw(this);">download</a></th>
        </tr>
        <% }); %>
    </table>
</body>



<script>
    var xmlinfo = {};

    function ab(obj) {
        xmlinfo[obj.dataset.file].abort();
        var progressBar = document.getElementById(obj.dataset.file + '-P');
        progressBar.max = 100;
        progressBar.value = 0;
        obj.innerHTML = "download";
        obj.setAttribute("onclick", "dw(this);");
    }

    function dw(obj) {
        var progressBar = document.getElementById(obj.dataset.file + '-P');
        var client = new XMLHttpRequest();
        client.responseType = "blob";
        client.open('GET', '/download/<%- filepath %>/' + obj.dataset.file);
        client.onprogress = function (event) {
            if (event.lengthComputable) {
                progressBar.max = 100;
                progressBar.value = ((event.loaded / event.total) * 100).toFixed(2);
            }
        };
        client.onloadend = function (event) {
            progressBar.value = ((event.loaded / event.total) * 100).toFixed(2);
            obj.innerHTML = "download";
            check(client, obj.dataset.file)
        };
        client.send();
        xmlinfo[obj.dataset.file] = client;
        obj.innerHTML = "cancel";
        obj.setAttribute("onclick", "ab(this);");
    }

    function check(client, filename) {
        var progressBar = document.getElementById(filename + '-P');
        console.log(client);
        if (progressBar.value === 100) {
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(client.response);
            link.download = filename;
            link.click();
            console.log(link.href);
            console.log("OK!");
            clearInterval(setCheck);
            window.URL.revokeObjectURL(link.href);
        }
    }
</script>

</html>
<!-- Plyr -->